<?xml version="1.0" encoding="UTF-8"?>

<plugin id="org.dnndc.plugins">

    <!-- XHTML -->
    <feature extension="dita.xsl.xhtml"   file="xsl/dnn-head.xsl"/>
    <feature extension="dita.xsl.xhtml"   file="xsl/dnn-header.xsl"/>
    <feature extension="dita.xsl.xhtml"   file="xsl/dnn-footer.xsl"/>
    <feature extension="dita.xsl.xhtml"   file="xsl/dnn-notes.xsl"/>
    <feature extension="dita.xsl.strings" file="xsl/dnn-strings.xml"/>

    <!-- HTML5 -->
    <feature extension="dita.xsl.html5"   file="xsl/dnn-head.xsl"/>
    <feature extension="dita.xsl.html5"   file="xsl/dnn-header.xsl"/>
    <feature extension="dita.xsl.html5"   file="xsl/dnn-footer.xsl"/>
    <feature extension="dita.xsl.html5"   file="xsl/dnn-notes.xsl"/>
    <feature extension="dita.xsl.strings" file="xsl/dnn-strings.xml"/>

    <!-- Additional parameters to pass from Ant to XSLT. -->
    <feature extension="dita.conductor.xhtml.param"     file="xsl/dnn-insertParameters.xml"/>
    <feature extension="dita.conductor.xhtml.toc.param" file="xsl/dnn-insertParameters.xml"/>

    <!-- Breadcrumbs -->
    <feature extension="dita.xsl.xhtml" file="xsl/dnn-breadcrumbs.xsl"/>

</plugin>
