<?xml version="1.0" encoding="UTF-8"?>

<plugin id="org.dnndc.plugins">

    <!-- XHTML -->
    <feature extension="dita.xsl.xhtml" file="xsl/header.xsl"/>
    <feature extension="dita.xsl.xhtml" file="xsl/footer.xsl"/>
    <feature extension="dita.xsl.xhtml" file="xsl/sidetoc.xsl"/>
    <feature extension="dita.xsl.xhtml" file="xsl/notes.xsl"/>

    <!-- HTML5 -->
    <feature extension="dita.xsl.html5" file="xsl/header.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/footer.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/sidetoc.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/notes.xsl"/>

</plugin>
