<?xml version="1.0" encoding="UTF-8"?>

<plugin id="org.dnndc.plugins">

    <!-- XHTML -->
    <feature extension="dita.xsl.xhtml"   file="xsl/header.xsl"/>
    <feature extension="dita.xsl.xhtml"   file="xsl/footer.xsl"/>
    <feature extension="dita.xsl.xhtml"   file="xsl/sidetoc.xsl"/>
    <feature extension="dita.xsl.xhtml"   file="xsl/notes.xsl"/>
    <feature extension="dita.xsl.strings" file="xsl/dnnstrings.xml"/>

    <!-- HTML5 -->
    <feature extension="dita.xsl.html5"   file="xsl/header.xsl"/>
    <feature extension="dita.xsl.html5"   file="xsl/footer.xsl"/>
    <feature extension="dita.xsl.html5"   file="xsl/sidetoc.xsl"/>
    <feature extension="dita.xsl.html5"   file="xsl/notes.xsl"/>
    <feature extension="dita.xsl.strings" file="xsl/dnnstrings.xml"/>

    <!-- Additional parameters to pass from Ant to XSLT. -->
    <feature extension="dita.conductor.xhtml.param"     file="xsl/insertParameters.xml"/>
    <feature extension="dita.conductor.xhtml.toc.param" file="xsl/insertParameters.xml"/>

</plugin>
