<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
           <rules>
               <clear />
               <rule name="LowerCaseRule1" stopProcessing="true">
                   <match url="[A-Z]" ignoreCase="false" />
                   <action type="Redirect" url="{ToLower:{URL}}" />
               </rule>
               <rule name="Rule-001" stopProcessing="true">
                  <match url="^(.*)Overview-DNN-Platform.html$" />
                  <action type="Redirect" url="{R:1}Administrators/OverviewDNNPlatform.html" />
               </rule>
               <rule name="Rule-002" stopProcessing="true">
                  <match url="^(.*)DNN8-Whats-New.html$" />
                  <action type="Redirect" url="{R:1}Administrators/DNN8WhatsNew.html" />
               </rule>
               <rule name="Rule-003" stopProcessing="true">
                  <match url="^(.*)DNN8-Requirements.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Requirements.html" />
               </rule>
               <rule name="Rule-005" stopProcessing="true">
                  <match url="^(.*)admin/Glossary.html$" />
                  <action type="Redirect" url="{R:1}Administrators/glossary-adm.html" />
               </rule>
               <rule name="Rule-006" stopProcessing="true">
                  <match url="^(.*)admin/index.html$" />
                  <action type="Redirect" url="{R:1}Administrators/index.html" />
               </rule>
               <rule name="Rule-008" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Install-Extensions.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Extensions/InstallExtension.html" />
               </rule>
               <rule name="Rule-016" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Getting-Started.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Setup/index.html" />
               </rule>
               <rule name="Rule-017" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Setup/Run-Install-Wizard.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Setup/RunInstWiz.html" />
               </rule>
               <rule name="Rule-018" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Set-Up-DNN.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Setup/SetUpDNN.html" />
               </rule>
               <rule name="Rule-019" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Setup/Set-Up-DNN-Folder.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Setup/SetUpDNNFolder.html" />
               </rule>
               <rule name="Rule-020" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Setup/Set-Up-IIS.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Setup/SetUpIIS.html" />
               </rule>
               <rule name="Rule-021" stopProcessing="true">
                  <match url="^(.*)admin/GettingStarted/Setup/Set-Up-SQL-Server.html$" />
                  <action type="Redirect" url="{R:1}Administrators/Setup/SetUpSQL.html" />
               </rule>
               <rule name="Rule-022" stopProcessing="true">
                  <match url="^(.*)admin/UserGuide/User-Guides.html$" />
                  <action type="Redirect" url="{R:1}http://www.dnnsoftware.com/community/download/manuals" />
               </rule>
               <rule name="Rule-027" stopProcessing="true">
                  <match url="^(.*)design/Glossary.html$" />
                  <action type="Redirect" url="{R:1}Designers/glossary-dsg.html" />
               </rule>
               <rule name="Rule-028" stopProcessing="true">
                  <match url="^(.*)design/index.html$" />
                  <action type="Redirect" url="{R:1}Designers/index.html" />
               </rule>
               <rule name="Rule-031" stopProcessing="true">
                  <match url="^(.*)design/Theme-Objects.html$" />
                  <action type="Redirect" url="{R:1}Designers/ThemeObjects.html" />
               </rule>
               <rule name="Rule-032" stopProcessing="true">
                  <match url="^(.*)design/HowTo/CreatingThemes/Create-Container.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/CreateContainer.html" />
               </rule>
               <rule name="Rule-033" stopProcessing="true">
                  <match url="^(.*)design/HowTo/CreatingThemes/Create-CSS.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/CreateCSS.html" />
               </rule>
               <rule name="Rule-034" stopProcessing="true">
                  <match url="^(.*)design/HowTo/CreatingThemes/Create-Doctype.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/CreateDocTypeXML.html" />
               </rule>
               <rule name="Rule-035" stopProcessing="true">
                  <match url="^(.*)design/HowTo/CreatingThemes/Create-Layout-Template.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/CreateLayoutTemplate.html" />
               </rule>
               <rule name="Rule-036" stopProcessing="true">
                  <match url="^(.*)design/HowTo/CreatingThemes/Creating-Themes.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/CreateTheme.html" />
               </rule>
               <rule name="Rule-037" stopProcessing="true">
                  <match url="^(.*)design/HowTo/How-To.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/index.html" />
               </rule>
               <rule name="Rule-038" stopProcessing="true">
                  <match url="^(.*)design/HowTo/PackagingThemes/Dnn-Manifest.html$" />
                  <action type="Redirect" url="{R:1}Designers/Extensions/DNNManifestSchema.html" />
               </rule>
               <rule name="Rule-039" stopProcessing="true">
                  <match url="^(.*)design/HowTo/PackagingThemes/Packaging-Themes.html$" />
                  <action type="Redirect" url="{R:1}Designers/Extensions/index.html" />
               </rule>
               <rule name="Rule-040" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Install-Extensions.html$" />
                  <action type="Redirect" url="{R:1}Designers/Extensions/InstallExtension.html" />
               </rule>
               <rule name="Rule-041" stopProcessing="true">
                  <match url="^(.*)design/HowTo/PackagingThemes/Creating-Package.html$" />
                  <action type="Redirect" url="{R:1}Designers/Extensions/PackExtension.html" />
               </rule>
               <rule name="Rule-042" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Getting-Started.html$" />
                  <action type="Redirect" url="{R:1}Designers/Setup/index.html" />
               </rule>
               <rule name="Rule-043" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Setup/Run-Install-Wizard.html$" />
                  <action type="Redirect" url="{R:1}Designers/Setup/RunInstWiz.html" />
               </rule>
               <rule name="Rule-044" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Set-Up-DNN.html$" />
                  <action type="Redirect" url="{R:1}Designers/Setup/SetUpDNN.html" />
               </rule>
               <rule name="Rule-045" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Setup/Set-Up-DNN-Folder.html$" />
                  <action type="Redirect" url="{R:1}Designers/Setup/SetUpDNNFolder.html" />
               </rule>
               <rule name="Rule-046" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Setup/Set-Up-IIS.html$" />
                  <action type="Redirect" url="{R:1}Designers/Setup/SetUpIIS.html" />
               </rule>
               <rule name="Rule-047" stopProcessing="true">
                  <match url="^(.*)design/GettingStarted/Setup/Set-Up-SQL-Server.html$" />
                  <action type="Redirect" url="{R:1}Designers/Setup/SetUpSQL.html" />
               </rule>
               <rule name="Rule-048" stopProcessing="true">
                  <match url="^(.*)design/Style-Guide.html$" />
                  <action type="Redirect" url="{R:1}http://uxguide.dnnsoftware.com/" />
               </rule>
               <rule name="Rule-049" stopProcessing="true">
                  <match url="^(.*)design/HowTo/CreatingThemes/Test-Html-Layout.html$" />
                  <action type="Redirect" url="{R:1}Designers/CreatingThemes/index.html" />
               </rule>
               <rule name="Rule-053" stopProcessing="true">
                  <match url="^(.*)dev/Glossary.html$" />
                  <action type="Redirect" url="{R:1}Developers/glossary-dev.html" />
               </rule>
               <rule name="Rule-054" stopProcessing="true">
                  <match url="^(.*)dev/index.html$" />
                  <action type="Redirect" url="{R:1}Developers/index.html" />
               </rule>
               <rule name="Rule-058" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/Concepts.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/index.html" />
               </rule>
               <rule name="Rule-059" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/Module-Architecture.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/ModuleArchitecture.html" />
               </rule>
               <rule name="Rule-060" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/Develop-Modules.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/ModuleDevelopment.html" />
               </rule>
               <rule name="Rule-061" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/Module-Features.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/ModuleFeatures.html" />
               </rule>
               <rule name="Rule-062" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/MVC-Module-Development.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/MVCModuleDevelopment.html" />
               </rule>
               <rule name="Rule-063" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/SPA-Module-Development.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/SPAModuleDevelopment.html" />
               </rule>
               <rule name="Rule-064" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/Unsupported-MVC-Features.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/UnsupportedMVCFeatures.html" />
               </rule>
               <rule name="Rule-065" stopProcessing="true">
                  <match url="^(.*)dev/Concepts/ModuleDevelopment/Web-Forms-Module-Development.html$" />
                  <action type="Redirect" url="{R:1}Developers/AboutModules/WebFormsModuleDevelopment.html" />
               </rule>
               <rule name="Rule-066" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/CreatingModules/Creating-Modules.html$" />
                  <action type="Redirect" url="{R:1}Developers/CreatingModules/CreateModule.html" />
               </rule>
               <rule name="Rule-067" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/CreatingModules/Module-Templates.html$" />
                  <action type="Redirect" url="{R:1}Developers/CreatingModules/CreateModuleUsingTemplates.html" />
               </rule>
               <rule name="Rule-068" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/How-To.html$" />
                  <action type="Redirect" url="{R:1}Developers/CreatingModules/index.html" />
               </rule>
               <rule name="Rule-071" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/CreatingModules/Using-The-Module-Creator.html$" />
                  <action type="Redirect" url="{R:1}Developers/CreatingModules/UseModuleCreator.html" />
               </rule>
               <rule name="Rule-072" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/PackagingExtensions/Dnn-Manifest.html$" />
                  <action type="Redirect" url="{R:1}Developers/Extensions/DNNManifestSchema.html" />
               </rule>
               <rule name="Rule-073" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/PackagingExtensions/Creating-Package.html$" />
                  <action type="Redirect" url="{R:1}Developers/Extensions/index.html" />
               </rule>
               <rule name="Rule-074" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Install-Extensions.html$" />
                  <action type="Redirect" url="{R:1}Developers/Extensions/InstallExtension.html" />
               </rule>
               <rule name="Rule-075" stopProcessing="true">
                  <match url="^(.*)dev/HowTo/PackagingExtensions/Packaging-Extensions.html$" />
                  <action type="Redirect" url="{R:1}Developers/Extensions/PackExtension.html" />
               </rule>
               <rule name="Rule-076" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Getting-Started.html$" />
                  <action type="Redirect" url="{R:1}Developers/Setup/index.html" />
               </rule>
               <rule name="Rule-077" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Setup/Run-Install-Wizard.html$" />
                  <action type="Redirect" url="{R:1}Developers/Setup/RunInstWiz.html" />
               </rule>
               <rule name="Rule-078" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Set-Up-DNN.html$" />
                  <action type="Redirect" url="{R:1}Developers/Setup/SetUpDNN.html" />
               </rule>
               <rule name="Rule-079" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Setup/Set-Up-DNN-Folder.html$" />
                  <action type="Redirect" url="{R:1}Developers/Setup/SetUpDNNFolder.html" />
               </rule>
               <rule name="Rule-080" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Setup/Set-Up-IIS.html$" />
                  <action type="Redirect" url="{R:1}Developers/Setup/SetUpIIS.html" />
               </rule>
               <rule name="Rule-081" stopProcessing="true">
                  <match url="^(.*)dev/GettingStarted/Setup/Set-Up-SQL-Server.html$" />
                  <action type="Redirect" url="{R:1}Developers/Setup/SetUpSQL.html" />
               </rule>
               <rule name="Rule-082" stopProcessing="true">
                  <match url="^(.*)dev/API.html$" />
                  <action type="Redirect" url="http://www.dnnsoftware.com/dnn-api/" />
               </rule>
               <rule name="Rule-088" stopProcessing="true">
                  <match url="^(.*)Administrators/$" />
                  <action type="Redirect" url="{R:1}Administrators/index.html" />
               </rule>
               <rule name="Rule-089" stopProcessing="true">
                  <match url="^(.*)Administrators$" />
                  <action type="Redirect" url="{R:1}Administrators/index.html" />
               </rule>
               <rule name="Rule-090" stopProcessing="true">
                  <match url="^(.*)Developers/$" />
                  <action type="Redirect" url="{R:1}Developers/index.html" />
               </rule>
               <rule name="Rule-091" stopProcessing="true">
                  <match url="^(.*)Developers$" />
                  <action type="Redirect" url="{R:1}Developers/index.html" />
               </rule>
               <rule name="Rule-092" stopProcessing="true">
                  <match url="^(.*)Designers/$" />
                  <action type="Redirect" url="{R:1}Designers/index.html" />
               </rule>
               <rule name="Rule-093" stopProcessing="true">
                  <match url="^(.*)Designers$" />
                  <action type="Redirect" url="{R:1}Designers/index.html" />
               </rule>
           </rules>
        </rewrite>
    </system.webServer>
</configuration>
