<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Rule-1" stopProcessing="true">
                   <match url="^(.*)/$" />
                   <action type="Redirect" url="{R:1}/index.html" />
                </rule>
                <rule name="Rule-2" stopProcessing="true">
                   <match url="^(.*)DNN8-Whats-New.html$" />
                   <action type="Redirect" url="{R:1}administrators/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-3" stopProcessing="true">
                   <match url="^(.*)Overview-DNN-Platform.html$" />
                   <action type="Redirect" url="{R:1}administrators/dnn-overview.html" />
                </rule>
                <rule name="Rule-4" stopProcessing="true">
                   <match url="^(.*)DNN8-Requirements.html$" />
                   <action type="Redirect" url="{R:1}administrators/requirements.html" />
                </rule>
                <rule name="Rule-5" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Install-Extensions.html$" />
                   <action type="Redirect" url="{R:1}administrators/extensions/install-extension.html" />
                </rule>
                <rule name="Rule-6" stopProcessing="true">
                   <match url="^(.*)admin/Glossary.html$" />
                   <action type="Redirect" url="{R:1}administrators/glossary.html" />
                </rule>
                <rule name="Rule-7" stopProcessing="true">
                   <match url="^(.*)admin/index.html$" />
                   <action type="Redirect" url="{R:1}administrators/index.html" />
                </rule>
                <rule name="Rule-8" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Getting-Started.html$" />
                   <action type="Redirect" url="{R:1}administrators/setup/index.html" />
                </rule>
                <rule name="Rule-9" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Setup/Run-Install-Wizard.html$" />
                   <action type="Redirect" url="{R:1}administrators/setup/run-installation-wizard.html" />
                </rule>
                <rule name="Rule-10" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Setup/Set-Up-DNN-Folder.html$" />
                   <action type="Redirect" url="{R:1}administrators/setup/set-up-dnn-folder.html" />
                </rule>
                <rule name="Rule-11" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Set-Up-DNN.html$" />
                   <action type="Redirect" url="{R:1}administrators/setup/set-up-dnn.html" />
                </rule>
                <rule name="Rule-12" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Setup/Set-Up-IIS.html$" />
                   <action type="Redirect" url="{R:1}administrators/setup/set-up-iis.html" />
                </rule>
                <rule name="Rule-13" stopProcessing="true">
                   <match url="^(.*)admin/GettingStarted/Setup/Set-Up-SQL-Server.html$" />
                   <action type="Redirect" url="{R:1}administrators/setup/set-up-sql.html" />
                </rule>
                <rule name="Rule-14" stopProcessing="true">
                   <match url="^(.*)admin/UserGuide/User-Guides.html$" />
                   <action type="Redirect" url="http://www.dnnsoftware.com/community/download/manuals" />
                </rule>
                <rule name="Rule-15" stopProcessing="true">
                   <match url="^(.*)design/HowTo/CreatingThemes/Create-Container.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/create-container.html" />
                </rule>
                <rule name="Rule-16" stopProcessing="true">
                   <match url="^(.*)design/HowTo/CreatingThemes/Create-CSS.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/create-css.html" />
                </rule>
                <rule name="Rule-17" stopProcessing="true">
                   <match url="^(.*)design/HowTo/CreatingThemes/Create-Doctype.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/create-doctype-xml.html" />
                </rule>
                <rule name="Rule-18" stopProcessing="true">
                   <match url="^(.*)design/HowTo/CreatingThemes/Create-Layout-Template.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/create-layout-template.html" />
                </rule>
                <rule name="Rule-19" stopProcessing="true">
                   <match url="^(.*)design/HowTo/CreatingThemes/Creating-Themes.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/create-theme.html" />
                </rule>
                <rule name="Rule-20" stopProcessing="true">
                   <match url="^(.*)design/HowTo/How-To.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/index.html" />
                </rule>
                <rule name="Rule-21" stopProcessing="true">
                   <match url="^(.*)design/HowTo/PackagingThemes/Dnn-Manifest.html$" />
                   <action type="Redirect" url="{R:1}designers/extensions/dnn-manifest-schema.html" />
                </rule>
                <rule name="Rule-22" stopProcessing="true">
                   <match url="^(.*)design/HowTo/PackagingThemes/Packaging-Themes.html$" />
                   <action type="Redirect" url="{R:1}designers/extensions/index.html" />
                </rule>
                <rule name="Rule-23" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Install-Extensions.html$" />
                   <action type="Redirect" url="{R:1}designers/extensions/install-extension.html" />
                </rule>
                <rule name="Rule-24" stopProcessing="true">
                   <match url="^(.*)design/HowTo/PackagingThemes/Creating-Package.html$" />
                   <action type="Redirect" url="{R:1}designers/extensions/pack-extension.html" />
                </rule>
                <rule name="Rule-25" stopProcessing="true">
                   <match url="^(.*)design/Glossary.html$" />
                   <action type="Redirect" url="{R:1}designers/glossary.html" />
                </rule>
                <rule name="Rule-26" stopProcessing="true">
                   <match url="^(.*)design/index.html$" />
                   <action type="Redirect" url="{R:1}designers/index.html" />
                </rule>
                <rule name="Rule-27" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Getting-Started.html$" />
                   <action type="Redirect" url="{R:1}designers/setup/index.html" />
                </rule>
                <rule name="Rule-28" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Setup/Run-Install-Wizard.html$" />
                   <action type="Redirect" url="{R:1}designers/setup/run-installation-wizard.html" />
                </rule>
                <rule name="Rule-29" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Setup/Set-Up-DNN-Folder.html$" />
                   <action type="Redirect" url="{R:1}designers/setup/set-up-dnn-folder.html" />
                </rule>
                <rule name="Rule-30" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Set-Up-DNN.html$" />
                   <action type="Redirect" url="{R:1}designers/setup/set-up-dnn.html" />
                </rule>
                <rule name="Rule-31" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Setup/Set-Up-IIS.html$" />
                   <action type="Redirect" url="{R:1}designers/setup/set-up-iis.html" />
                </rule>
                <rule name="Rule-32" stopProcessing="true">
                   <match url="^(.*)design/GettingStarted/Setup/Set-Up-SQL-Server.html$" />
                   <action type="Redirect" url="{R:1}designers/setup/set-up-sql.html" />
                </rule>
                <rule name="Rule-33" stopProcessing="true">
                   <match url="^(.*)design/Theme-Objects.html$" />
                   <action type="Redirect" url="{R:1}designers/theme-objects.html" />
                </rule>
                <rule name="Rule-34" stopProcessing="true">
                   <match url="^(.*)design/Style-Guide.html$" />
                   <action type="Redirect" url="http://uxguide.dnnsoftware.com/" />
                </rule>
                <rule name="Rule-35" stopProcessing="true">
                   <match url="^(.*)design/HowTo/CreatingThemes/Test-Html-Layout.html$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/index.html" />
                </rule>
                <rule name="Rule-36" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/Concepts.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/index.html" />
                </rule>
                <rule name="Rule-37" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/Module-Architecture.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/module-architecture.html" />
                </rule>
                <rule name="Rule-38" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/Develop-Modules.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/module-development.html" />
                </rule>
                <rule name="Rule-39" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/Module-Features.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/module-features.html" />
                </rule>
                <rule name="Rule-40" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/MVC-Module-Development.html$" />
                   <action type="Redirect" url="{R:1}developers/mvc-modules/mvc-module-development.html" />
                </rule>
                <rule name="Rule-41" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/SPA-Module-Development.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/spa-module-development.html" />
                </rule>
                <rule name="Rule-42" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/Unsupported-MVC-Features.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/unsupported-mvc-features.html" />
                </rule>
                <rule name="Rule-43" stopProcessing="true">
                   <match url="^(.*)dev/Concepts/ModuleDevelopment/Web-Forms-Module-Development.html$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/web-forms-module-development.html" />
                </rule>
                <rule name="Rule-44" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/CreatingModules/Creating-Modules.html$" />
                   <action type="Redirect" url="{R:1}developers/creating-modules/create-module-using-templates.html" />
                </rule>
                <rule name="Rule-45" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/CreatingModules/Module-Templates.html$" />
                   <action type="Redirect" url="{R:1}developers/creating-modules/create-module.html" />
                </rule>
                <rule name="Rule-46" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/How-To.html$" />
                   <action type="Redirect" url="{R:1}developers/creating-modules/index.html" />
                </rule>
                <rule name="Rule-47" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/CreatingModules/Using-The-Module-Creator.html$" />
                   <action type="Redirect" url="{R:1}developers/creating-modules/use-module-creator.html" />
                </rule>
                <rule name="Rule-48" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/PackagingExtensions/Dnn-Manifest.html$" />
                   <action type="Redirect" url="{R:1}developers/extensions/dnn-manifest-schema.html" />
                </rule>
                <rule name="Rule-49" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/PackagingExtensions/Packaging-Extensions.html$" />
                   <action type="Redirect" url="{R:1}developers/extensions/index.html" />
                </rule>
                <rule name="Rule-50" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Install-Extensions.html$" />
                   <action type="Redirect" url="{R:1}developers/extensions/install-extension.html" />
                </rule>
                <rule name="Rule-51" stopProcessing="true">
                   <match url="^(.*)dev/HowTo/PackagingExtensions/Creating-Package.html$" />
                   <action type="Redirect" url="{R:1}developers/extensions/pack-extension.html" />
                </rule>
                <rule name="Rule-52" stopProcessing="true">
                   <match url="^(.*)dev/Glossary.html$" />
                   <action type="Redirect" url="{R:1}developers/glossary.html" />
                </rule>
                <rule name="Rule-53" stopProcessing="true">
                   <match url="^(.*)dev/index.html$" />
                   <action type="Redirect" url="{R:1}developers/index.html" />
                </rule>
                <rule name="Rule-54" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Getting-Started.html$" />
                   <action type="Redirect" url="{R:1}developers/setup/index.html" />
                </rule>
                <rule name="Rule-55" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Setup/Run-Install-Wizard.html$" />
                   <action type="Redirect" url="{R:1}developers/setup/run-installation-wizard.html" />
                </rule>
                <rule name="Rule-56" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Setup/Set-Up-DNN-Folder.html$" />
                   <action type="Redirect" url="{R:1}developers/setup/set-up-dnn-folder.html" />
                </rule>
                <rule name="Rule-57" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Set-Up-DNN.html$" />
                   <action type="Redirect" url="{R:1}developers/setup/set-up-dnn.html" />
                </rule>
                <rule name="Rule-58" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Setup/Set-Up-IIS.html$" />
                   <action type="Redirect" url="{R:1}developers/setup/set-up-iis.html" />
                </rule>
                <rule name="Rule-59" stopProcessing="true">
                   <match url="^(.*)dev/GettingStarted/Setup/Set-Up-SQL-Server.html$" />
                   <action type="Redirect" url="{R:1}developers/setup/set-up-sql.html" />
                </rule>
                <rule name="Rule-60" stopProcessing="true">
                   <match url="^(.*)dev/API.html$" />
                   <action type="Redirect" url="http://www.dnnsoftware.com/dnn-api/" />
                </rule>
                <rule name="Rule-61" stopProcessing="true">
                   <match url="^(.*)administrators/securing-your-site(.*)$" />
                   <action type="Redirect" url="{R:1}administrators/security{R:2}" />
                </rule>
                <rule name="Rule-62" stopProcessing="true">
                   <match url="^(.*)content-managers/securing-your-site(.*)$" />
                   <action type="Redirect" url="{R:1}content-managers/security{R:2}" />
                </rule>
                <rule name="Rule-63" stopProcessing="true">
                   <match url="^(.*)developers/securing-your-site(.*)$" />
                   <action type="Redirect" url="{R:1}developers/security{R:2}" />
                </rule>
                <rule name="Rule-64" stopProcessing="true">
                   <match url="^(.*)designers/securing-your-site(.*)$" />
                   <action type="Redirect" url="{R:1}designers/security{R:2}" />
                </rule>
                <rule name="Rule-65" stopProcessing="true">
                   <match url="^(.*)community-managers/securing-your-site(.*)$" />
                   <action type="Redirect" url="{R:1}community-managers/security{R:2}" />
                </rule>
                <rule name="Rule-66" stopProcessing="true">
                   <match url="^(.*)administrators/release-notes$" />
                   <action type="Redirect" url="{R:1}administrators/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-67" stopProcessing="true">
                   <match url="^(.*)administrators/release-notes/$" />
                   <action type="Redirect" url="{R:1}administrators/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-68" stopProcessing="true">
                   <match url="^(.*)content-managers/release-notes$" />
                   <action type="Redirect" url="{R:1}content-managers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-69" stopProcessing="true">
                   <match url="^(.*)content-managers/release-notes/$" />
                   <action type="Redirect" url="{R:1}content-managers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-70" stopProcessing="true">
                   <match url="^(.*)developers/release-notes$" />
                   <action type="Redirect" url="{R:1}developers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-71" stopProcessing="true">
                   <match url="^(.*)developers/release-notes/$" />
                   <action type="Redirect" url="{R:1}developers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-72" stopProcessing="true">
                   <match url="^(.*)designers/release-notes$" />
                   <action type="Redirect" url="{R:1}designers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-73" stopProcessing="true">
                   <match url="^(.*)designers/release-notes/$" />
                   <action type="Redirect" url="{R:1}designers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-74" stopProcessing="true">
                   <match url="^(.*)community-managers/release-notes$" />
                   <action type="Redirect" url="{R:1}community-managers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-75" stopProcessing="true">
                   <match url="^(.*)community-managers/release-notes/$" />
                   <action type="Redirect" url="{R:1}community-managers/whats-new-dnn.html" />
                </rule>
                <rule name="Rule-76" stopProcessing="true">
                   <match url="^(.*)dnn-platform-overview.html$" />
                   <action type="Redirect" url="{R:1}dnn-overview.html" />
                </rule>
                <rule name="Rule-77" stopProcessing="true">
                   <match url="^(.*)view-form-analytics.html$" />
                   <action type="Redirect" url="{R:1}view-form-responses.html" />
                </rule>
                <rule name="Rule-78" stopProcessing="true">
                   <match url="^(.*)content-managers/building-your-site/about-microservices.html$" />
                   <action type="Redirect" url="{R:1}content-managers/building-your-site/creating-content-with-microservices.html" />
                </rule>
                <rule name="Rule-79" stopProcessing="true">
                   <match url="^(.*)85/developers/about-modules/mvc-module-development.html$" />
                   <action type="Redirect" url="{R:1}85/developers/about-modules/mvc-module-development.html" />
                </rule>
                <rule name="Rule-80" stopProcessing="true">
                   <match url="^(.*)developers/about-modules/mvc-module-development.html$" />
                   <action type="Redirect" url="{R:1}developers/mvc-modules/mvc-module-development.html" />
                </rule>
                <rule name="Rule-81" stopProcessing="true">
                   <match url="^(.*)developers/about-modules/unsupported-mvc-features.html$" />
                   <action type="Redirect" url="{R:1}developers/mvc-modules/unsupported-mvc-features.html" />
                </rule>
                <rule name="Rule-82" stopProcessing="true">
                   <match url="^(.*)85/administrators/structured-content(.*)$" />
                   <action type="Redirect" url="{R:1}85/content-managers/structured-content{R:2}" />
                </rule>
                <rule name="Rule-83" stopProcessing="true">
                   <match url="^(.*)administrators$" />
                   <action type="Redirect" url="{R:1}administrators/index.html" />
                </rule>
                <rule name="Rule-84" stopProcessing="true">
                   <match url="^(.*)common$" />
                   <action type="Redirect" url="{R:1}common/index.html" />
                </rule>
                <rule name="Rule-85" stopProcessing="true">
                   <match url="^(.*)community-managers$" />
                   <action type="Redirect" url="{R:1}community-managers/index.html" />
                </rule>
                <rule name="Rule-86" stopProcessing="true">
                   <match url="^(.*)content-managers$" />
                   <action type="Redirect" url="{R:1}content-managers/index.html" />
                </rule>
                <rule name="Rule-87" stopProcessing="true">
                   <match url="^(.*)designers$" />
                   <action type="Redirect" url="{R:1}designers/index.html" />
                </rule>
                <rule name="Rule-88" stopProcessing="true">
                   <match url="^(.*)developers$" />
                   <action type="Redirect" url="{R:1}developers/index.html" />
                </rule>
                <rule name="Rule-89" stopProcessing="true">
                   <match url="^(.*)ssi$" />
                   <action type="Redirect" url="{R:1}ssi/index.html" />
                </rule>
                <rule name="Rule-90" stopProcessing="true">
                   <match url="^(.*)_theme$" />
                   <action type="Redirect" url="{R:1}_theme/index.html" />
                </rule>
                <rule name="Rule-91" stopProcessing="true">
                   <match url="^(.*)administrators/building-your-site$" />
                   <action type="Redirect" url="{R:1}administrators/building-your-site/index.html" />
                </rule>
                <rule name="Rule-92" stopProcessing="true">
                   <match url="^(.*)administrators/configuring-your-site$" />
                   <action type="Redirect" url="{R:1}administrators/configuring-your-site/index.html" />
                </rule>
                <rule name="Rule-93" stopProcessing="true">
                   <match url="^(.*)administrators/extensions$" />
                   <action type="Redirect" url="{R:1}administrators/extensions/index.html" />
                </rule>
                <rule name="Rule-94" stopProcessing="true">
                   <match url="^(.*)administrators/included-modules$" />
                   <action type="Redirect" url="{R:1}administrators/included-modules/index.html" />
                </rule>
                <rule name="Rule-95" stopProcessing="true">
                   <match url="^(.*)administrators/licensing$" />
                   <action type="Redirect" url="{R:1}administrators/licensing/index.html" />
                </rule>
                <rule name="Rule-96" stopProcessing="true">
                   <match url="^(.*)administrators/release-notes$" />
                   <action type="Redirect" url="{R:1}administrators/release-notes/index.html" />
                </rule>
                <rule name="Rule-97" stopProcessing="true">
                   <match url="^(.*)administrators/scheduler$" />
                   <action type="Redirect" url="{R:1}administrators/scheduler/index.html" />
                </rule>
                <rule name="Rule-98" stopProcessing="true">
                   <match url="^(.*)administrators/security$" />
                   <action type="Redirect" url="{R:1}administrators/security/index.html" />
                </rule>
                <rule name="Rule-99" stopProcessing="true">
                   <match url="^(.*)administrators/setup$" />
                   <action type="Redirect" url="{R:1}administrators/setup/index.html" />
                </rule>
                <rule name="Rule-100" stopProcessing="true">
                   <match url="^(.*)administrators/security/jwt$" />
                   <action type="Redirect" url="{R:1}administrators/security/jwt/index.html" />
                </rule>
                <rule name="Rule-101" stopProcessing="true">
                   <match url="^(.*)administrators/security/roles$" />
                   <action type="Redirect" url="{R:1}administrators/security/roles/index.html" />
                </rule>
                <rule name="Rule-102" stopProcessing="true">
                   <match url="^(.*)administrators/security/user-accounts$" />
                   <action type="Redirect" url="{R:1}administrators/security/user-accounts/index.html" />
                </rule>
                <rule name="Rule-103" stopProcessing="true">
                   <match url="^(.*)common/building-your-site$" />
                   <action type="Redirect" url="{R:1}common/building-your-site/index.html" />
                </rule>
                <rule name="Rule-104" stopProcessing="true">
                   <match url="^(.*)common/extensions$" />
                   <action type="Redirect" url="{R:1}common/extensions/index.html" />
                </rule>
                <rule name="Rule-105" stopProcessing="true">
                   <match url="^(.*)common/glossary$" />
                   <action type="Redirect" url="{R:1}common/glossary/index.html" />
                </rule>
                <rule name="Rule-106" stopProcessing="true">
                   <match url="^(.*)common/img$" />
                   <action type="Redirect" url="{R:1}common/img/index.html" />
                </rule>
                <rule name="Rule-107" stopProcessing="true">
                   <match url="^(.*)common/samples$" />
                   <action type="Redirect" url="{R:1}common/samples/index.html" />
                </rule>
                <rule name="Rule-108" stopProcessing="true">
                   <match url="^(.*)community-managers/included-modules$" />
                   <action type="Redirect" url="{R:1}community-managers/included-modules/index.html" />
                </rule>
                <rule name="Rule-109" stopProcessing="true">
                   <match url="^(.*)community-managers/managing-your-community$" />
                   <action type="Redirect" url="{R:1}community-managers/managing-your-community/index.html" />
                </rule>
                <rule name="Rule-110" stopProcessing="true">
                   <match url="^(.*)community-managers/release-notes$" />
                   <action type="Redirect" url="{R:1}community-managers/release-notes/index.html" />
                </rule>
                <rule name="Rule-111" stopProcessing="true">
                   <match url="^(.*)community-managers/security$" />
                   <action type="Redirect" url="{R:1}community-managers/security/index.html" />
                </rule>
                <rule name="Rule-112" stopProcessing="true">
                   <match url="^(.*)community-managers/security/roles$" />
                   <action type="Redirect" url="{R:1}community-managers/security/roles/index.html" />
                </rule>
                <rule name="Rule-113" stopProcessing="true">
                   <match url="^(.*)community-managers/security/user-accounts$" />
                   <action type="Redirect" url="{R:1}community-managers/security/user-accounts/index.html" />
                </rule>
                <rule name="Rule-114" stopProcessing="true">
                   <match url="^(.*)content-managers/building-your-site$" />
                   <action type="Redirect" url="{R:1}content-managers/building-your-site/index.html" />
                </rule>
                <rule name="Rule-115" stopProcessing="true">
                   <match url="^(.*)content-managers/configuring-your-site$" />
                   <action type="Redirect" url="{R:1}content-managers/configuring-your-site/index.html" />
                </rule>
                <rule name="Rule-116" stopProcessing="true">
                   <match url="^(.*)content-managers/extensions$" />
                   <action type="Redirect" url="{R:1}content-managers/extensions/index.html" />
                </rule>
                <rule name="Rule-117" stopProcessing="true">
                   <match url="^(.*)content-managers/fields$" />
                   <action type="Redirect" url="{R:1}content-managers/fields/index.html" />
                </rule>
                <rule name="Rule-118" stopProcessing="true">
                   <match url="^(.*)content-managers/forms$" />
                   <action type="Redirect" url="{R:1}content-managers/forms/index.html" />
                </rule>
                <rule name="Rule-119" stopProcessing="true">
                   <match url="^(.*)content-managers/included-modules$" />
                   <action type="Redirect" url="{R:1}content-managers/included-modules/index.html" />
                </rule>
                <rule name="Rule-120" stopProcessing="true">
                   <match url="^(.*)content-managers/managing-your-community$" />
                   <action type="Redirect" url="{R:1}content-managers/managing-your-community/index.html" />
                </rule>
                <rule name="Rule-121" stopProcessing="true">
                   <match url="^(.*)content-managers/microservices$" />
                   <action type="Redirect" url="{R:1}content-managers/microservices/index.html" />
                </rule>
                <rule name="Rule-122" stopProcessing="true">
                   <match url="^(.*)content-managers/release-notes$" />
                   <action type="Redirect" url="{R:1}content-managers/release-notes/index.html" />
                </rule>
                <rule name="Rule-123" stopProcessing="true">
                   <match url="^(.*)content-managers/security$" />
                   <action type="Redirect" url="{R:1}content-managers/security/index.html" />
                </rule>
                <rule name="Rule-124" stopProcessing="true">
                   <match url="^(.*)content-managers/structured-content$" />
                   <action type="Redirect" url="{R:1}content-managers/structured-content/index.html" />
                </rule>
                <rule name="Rule-125" stopProcessing="true">
                   <match url="^(.*)content-managers/security/roles$" />
                   <action type="Redirect" url="{R:1}content-managers/security/roles/index.html" />
                </rule>
                <rule name="Rule-126" stopProcessing="true">
                   <match url="^(.*)content-managers/security/user-accounts$" />
                   <action type="Redirect" url="{R:1}content-managers/security/user-accounts/index.html" />
                </rule>
                <rule name="Rule-127" stopProcessing="true">
                   <match url="^(.*)designers/creating-themes$" />
                   <action type="Redirect" url="{R:1}designers/creating-themes/index.html" />
                </rule>
                <rule name="Rule-128" stopProcessing="true">
                   <match url="^(.*)designers/extensions$" />
                   <action type="Redirect" url="{R:1}designers/extensions/index.html" />
                </rule>
                <rule name="Rule-129" stopProcessing="true">
                   <match url="^(.*)designers/included-modules$" />
                   <action type="Redirect" url="{R:1}designers/included-modules/index.html" />
                </rule>
                <rule name="Rule-130" stopProcessing="true">
                   <match url="^(.*)designers/release-notes$" />
                   <action type="Redirect" url="{R:1}designers/release-notes/index.html" />
                </rule>
                <rule name="Rule-131" stopProcessing="true">
                   <match url="^(.*)designers/setup$" />
                   <action type="Redirect" url="{R:1}designers/setup/index.html" />
                </rule>
                <rule name="Rule-132" stopProcessing="true">
                   <match url="^(.*)developers/about-modules$" />
                   <action type="Redirect" url="{R:1}developers/about-modules/index.html" />
                </rule>
                <rule name="Rule-133" stopProcessing="true">
                   <match url="^(.*)developers/creating-modules$" />
                   <action type="Redirect" url="{R:1}developers/creating-modules/index.html" />
                </rule>
                <rule name="Rule-134" stopProcessing="true">
                   <match url="^(.*)developers/extensions$" />
                   <action type="Redirect" url="{R:1}developers/extensions/index.html" />
                </rule>
                <rule name="Rule-135" stopProcessing="true">
                   <match url="^(.*)developers/included-modules$" />
                   <action type="Redirect" url="{R:1}developers/included-modules/index.html" />
                </rule>
                <rule name="Rule-136" stopProcessing="true">
                   <match url="^(.*)developers/microservices$" />
                   <action type="Redirect" url="{R:1}developers/microservices/index.html" />
                </rule>
                <rule name="Rule-137" stopProcessing="true">
                   <match url="^(.*)developers/mvc-modules$" />
                   <action type="Redirect" url="{R:1}developers/mvc-modules/index.html" />
                </rule>
                <rule name="Rule-138" stopProcessing="true">
                   <match url="^(.*)developers/release-notes$" />
                   <action type="Redirect" url="{R:1}developers/release-notes/index.html" />
                </rule>
                <rule name="Rule-139" stopProcessing="true">
                   <match url="^(.*)developers/security$" />
                   <action type="Redirect" url="{R:1}developers/security/index.html" />
                </rule>
                <rule name="Rule-140" stopProcessing="true">
                   <match url="^(.*)developers/setup$" />
                   <action type="Redirect" url="{R:1}developers/setup/index.html" />
                </rule>
                <rule name="Rule-141" stopProcessing="true">
                   <match url="^(.*)developers/security/jwt$" />
                   <action type="Redirect" url="{R:1}developers/security/jwt/index.html" />
                </rule>
                <rule name="Rule-142" stopProcessing="true">
                   <match url="^(.*)85$" />
                   <action type="Redirect" url="{R:1}85/index.html" />
                </rule>
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="SSI-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
